@use "../assets/styles/mixins" as mixin;

.main {
  composes: themeBody from "../assets/styles/_themes.scss";
  min-height: 100vh;

  div {
    @include mixin.xs {
      padding: 10px;
      height: calc(100vh - (54px + 108px));
    }
  }
}
