@use "../../assets/styles/mixins" as mixin;

.header {
  composes: themeNav from "../../assets/styles/_themes.scss";
  ul {
    height: 100%;
    li {
      height: inherit;
      a {
        height: inherit;
        padding: 0 10px;
        display: flex;
        align-items: center;
      }
    }
    @include mixin.xs {
      display: none;
    }
  }
}
.navBrand {
  composes: themeColorAncreActive from "../../assets/styles/_themes.scss";
}
.ancre {
  composes: themeColorAncre from "../../assets/styles/_themes.scss";
  composes: themeColorAncreActive from "../../assets/styles/_themes.scss";
}

.headerXS {
  position: relative; // Pour le menu sur XS
  display: none;
  cursor: pointer;
  @include mixin.xs {
    display: block;
  }
}
