/*!
 * Partial utils v1.0.0
 * Copyright 2022-2030 Zyrass (Alain Guillon Author)
 * Inspirated by Bootstrap and Dyma
 */

@use "./mixins" as mixin;

// view-height
.vh {
  min-height: 100vh;
}

// navigation - breadcrumb
.breadcrumb {
  color: var(--color-dark-2);
  display: flex;
  border: 1px solid var(--color-dark-2);
  border-radius: 4px;
  font-style: italic;
  li {
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    &:not(:first-child) {
      padding-left: 0px;
    }
    &::after {
      content: ">";
      padding-left: 10px;
    }
    &::before {
      content: "";
      padding-right: 10px;
    }
    &:hover {
      opacity: 0.8;
    }
  }
}

// margin
.m {
  &-5 {
    margin: 5px;
  }
  &-10 {
    margin: 10px;
  }
  &-15 {
    margin: 15px;
  }
  &-20 {
    margin: 20px;
  }
  &-25 {
    margin: 25px;
  }
  &-30 {
    margin: 30px;
  }
  &-35 {
    margin: 35px;
  }
  &-40 {
    margin: 40px;
  }
  &-45 {
    margin: 45px;
  }
  &-50 {
    margin: 50px;
  }
}
// margin-top
.mt {
  &-5 {
    margin-top: 5px;
  }
  &-10 {
    margin-top: 10px;
  }
  &-15 {
    margin-top: 15px;
  }
  &-20 {
    margin-top: 20px;
  }
  &-25 {
    margin-top: 25px;
  }
  &-30 {
    margin-top: 30px;
  }
  &-35 {
    margin-top: 35px;
  }
  &-40 {
    margin-top: 40px;
  }
  &-45 {
    margin-top: 45px;
  }
  &-50 {
    margin-top: 50px;
  }
}
// margin-right
.mr {
  &-5 {
    margin-right: 5px;
  }
  &-10 {
    margin-right: 10px;
  }
  &-15 {
    margin-right: 15px;
  }
  &-20 {
    margin-right: 20px;
  }
  &-25 {
    margin-right: 25px;
  }
  &-30 {
    margin-right: 30px;
  }
  &-35 {
    margin-right: 35px;
  }
  &-40 {
    margin-right: 40px;
  }
  &-45 {
    margin-right: 45px;
  }
  &-50 {
    margin-right: 50px;
  }
}
// margin-bottom
.mb {
  &-5 {
    margin-bottom: 5px;
  }
  &-10 {
    margin-bottom: 10px;
  }
  &-15 {
    margin-bottom: 15px;
  }
  &-20 {
    margin-bottom: 20px;
  }
  &-25 {
    margin-bottom: 25px;
  }
  &-30 {
    margin-bottom: 30px;
  }
  &-35 {
    margin-bottom: 35px;
  }
  &-40 {
    margin-bottom: 40px;
  }
  &-45 {
    margin-bottom: 45px;
  }
  &-50 {
    margin-bottom: 50px;
  }
}
// margin-left
.ml {
  &-5 {
    margin-left: 5px;
  }
  &-10 {
    margin-left: 10px;
  }
  &-15 {
    margin-left: 15px;
  }
  &-20 {
    margin-left: 20px;
  }
  &-25 {
    margin-left: 25px;
  }
  &-30 {
    margin-left: 30px;
  }
  &-35 {
    margin-left: 35px;
  }
  &-40 {
    margin-left: 40px;
  }
  &-45 {
    margin-left: 45px;
  }
  &-50 {
    margin-left: 50px;
  }
}
// margin-top & margin-bottom
.my {
  &-5 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  &-10 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &-15 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  &-20 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  &-25 {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  &-30 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  &-35 {
    margin-top: 35px;
    margin-bottom: 35px;
  }
  &-40 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  &-45 {
    margin-top: 45px;
    margin-bottom: 45px;
  }
  &-50 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
// margin-right & margin-left
.mx {
  &-5 {
    margin-right: 5px;
    margin-left: 5px;
  }
  &-10 {
    margin-right: 10px;
    margin-left: 10px;
  }
  &-15 {
    margin-right: 15px;
    margin-left: 15px;
  }
  &-20 {
    margin-right: 20px;
    margin-left: 20px;
  }
  &-25 {
    margin-right: 25px;
    margin-left: 25px;
  }
  &-30 {
    margin-right: 30px;
    margin-left: 30px;
  }
  &-35 {
    margin-right: 35px;
    margin-left: 35px;
  }
  &-40 {
    margin-right: 40px;
    margin-left: 40px;
  }
  &-45 {
    margin-right: 45px;
    margin-left: 45px;
  }
  &-50 {
    margin-right: 50px;
    margin-left: 50px;
  }
}

// padding
.p {
  &-5 {
    padding: 5px;
  }
  &-10 {
    padding: 10px;
  }
  &-15 {
    padding: 15px;
  }
  &-20 {
    padding: 20px;
  }
  &-25 {
    padding: 25px;
  }
  &-30 {
    padding: 30px;
  }
  &-35 {
    padding: 35px;
  }
  &-40 {
    padding: 40px;
  }
  &-45 {
    padding: 45px;
  }
  &-50 {
    padding: 50px;
  }
}
// padding-top
.pt {
  &-5 {
    padding-top: 5px;
  }
  &-10 {
    padding-top: 10px;
  }
  &-15 {
    padding-top: 15px;
  }
  &-20 {
    padding-top: 20px;
  }
  &-25 {
    padding-top: 25px;
  }
  &-30 {
    padding-top: 30px;
  }
  &-35 {
    padding-top: 35px;
  }
  &-40 {
    padding-top: 40px;
  }
  &-45 {
    padding-top: 45px;
  }
  &-50 {
    padding-top: 50px;
  }
}
// padding-right
.pr {
  &-5 {
    padding-right: 5px;
  }
  &-10 {
    padding-right: 10px;
  }
  &-15 {
    padding-right: 15px;
  }
  &-20 {
    padding-right: 20px;
  }
  &-25 {
    padding-right: 25px;
  }
  &-30 {
    padding-right: 30px;
  }
  &-35 {
    padding-right: 35px;
  }
  &-40 {
    padding-right: 40px;
  }
  &-45 {
    padding-right: 45px;
  }
  &-50 {
    padding-right: 50px;
  }
}
// padding-bottom
.pb {
  &-5 {
    padding-bottom: 5px;
  }
  &-10 {
    padding-bottom: 10px;
  }
  &-15 {
    padding-bottom: 15px;
  }
  &-20 {
    padding-bottom: 20px;
  }
  &-25 {
    padding-bottom: 25px;
  }
  &-30 {
    padding-bottom: 30px;
  }
  &-35 {
    padding-bottom: 35px;
  }
  &-40 {
    padding-bottom: 40px;
  }
  &-45 {
    padding-bottom: 45px;
  }
  &-50 {
    padding-bottom: 50px;
  }
}
// padding-left
.pl {
  &-5 {
    padding-left: 5px;
  }
  &-10 {
    padding-left: 10px;
  }
  &-15 {
    padding-left: 15px;
  }
  &-20 {
    padding-left: 20px;
  }
  &-25 {
    padding-left: 25px;
  }
  &-30 {
    padding-left: 30px;
  }
  &-35 {
    padding-left: 35px;
  }
  &-40 {
    padding-left: 40px;
  }
  &-45 {
    padding-left: 45px;
  }
  &-50 {
    padding-left: 50px;
  }
}
// padding-top && padding-bottom
.py {
  &-5 {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  &-10 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &-15 {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  &-20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &-25 {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  &-30 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &-35 {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  &-40 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  &-45 {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  &-50 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
// padding-right && padding-left
.px {
  &-5 {
    padding-right: 5px;
    padding-left: 5px;
  }
  &-10 {
    padding-right: 10px;
    padding-left: 10px;
  }
  &-15 {
    padding-right: 15px;
    padding-left: 15px;
  }
  &-20 {
    padding-right: 20px;
    padding-left: 20px;
  }
  &-25 {
    padding-right: 25px;
    padding-left: 25px;
  }
  &-30 {
    padding-right: 30px;
    padding-left: 30px;
  }
  &-35 {
    padding-right: 35px;
    padding-left: 35px;
  }
  &-40 {
    padding-right: 40px;
    padding-left: 40px;
  }
  &-45 {
    padding-right: 45px;
    padding-left: 45px;
  }
  &-50 {
    padding-right: 50px;
    padding-left: 50px;
  }
}

//container
.container {
  max-width: 1200px;
  margin: auto;
  width: 100%;
}

// card
.card {
  background-color: var(--white);
  border: 2px solid var(--dark);
  border-radius: 4px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 0 25px var(--color-light-2);
  padding: 10px !important;
  height: fit-content;
  @include mixin.xl {
    width: 996px;
  }
}

// button
.btn {
  background-color: var(--disabled);
  color: var(--white);
  border: none;
  transition: all 0.2s;
  text-transform: uppercase;
  font-weight: 900;
  padding: 10px 0 10px 0;
  cursor: pointer;
  &:hover {
    background-color: var(--disabled-2);
  }
  &:focus {
    background-color: var(--disabled-2);
  }
  &-danger {
    background-color: var(--danger);
    &-2 {
      background-color: var(--danger-2);
    }
  }
  &-success {
    background-color: var(--success);
    &-2 {
      background-color: var(--success-2);
    }
  }
  &-info {
    background-color: var(--info);
    &-2 {
      background-color: var(--info-2);
    }
  }
  &-warning {
    background-color: var(--warning);
    color: var(--dark);
    &-2 {
      background-color: var(--warning-2);
      color: var(--dark);
    }
  }
  &-primary {
    background-color: var(--primary);
    &-2 {
      background-color: var(--primary-2);
    }
  }
  &-secondary {
    background-color: var(--secondary);

    &-2 {
      background-color: var(--secondary-2);
    }
  }
}

// width
.w {
  &50 {
    width: 50%;
  }
  &60 {
    width: 60%;
  }
  &70 {
    width: 70%;
  }
  &80 {
    width: 80%;
  }
  &90 {
    width: 90%;
  }
  &100 {
    width: 100%;
  }
}

// text-?
.text {
  // mise en forme
  &-lead {
    background-color: var(--color-light-1);
    letter-spacing: 2px;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    font-style: italic;
    border: 2px solid var(--color-dark-2);
    a {
      font-style: normal;
      font-weight: 700;
      color: var(--color-light-2);
    }
  }
  // color
  &-danger {
    color: var(--danger);
    &-2 {
      color: var(--danger-2);
    }
  }
  &-success {
    color: var(--success);
    &-2 {
      color: var(--success-2);
    }
  }
  &-warning {
    color: var(--warning);
    &-2 {
      color: var(--warning-2);
    }
  }
  &-info {
    color: var(--info);
    &-2 {
      color: var(--info-2);
    }
  }
  &-primary {
    color: var(--primary);
    &-2 {
      color: var(--primary-2);
    }
  }
  &-secondary {
    color: var(--secondary);
    &-2 {
      color: var(--secondary-2);
    }
  }
  &-disabled {
    color: var(--disabled);
    &-2 {
      color: var(--disabled-2);
    }
  }
  // decoration-?
  &-decoration {
    &-dashed {
      text-decoration: dashed;
    }
    &-dotted {
      text-decoration: dotted;
    }
    &-double {
      text-decoration: double;
    }
    &-line-through {
      text-decoration: line-through;
    }
    &-none {
      text-decoration: none;
    }
    &-overline {
      text-decoration: overline;
    }
    &-solid {
      text-decoration: solid;
    }
    &-underline {
      text-decoration: underline;
    }
    &-wavy {
      text-decoration: wavy;
    }
  }
}

// uppercase
.upper {
  text-transform: uppercase;
}

// lowercase
.lower {
  text-transform: lowercase;
}

// calque transparent (pour menu)
.calc {
  display: none;
  @include mixin.xs {
    display: block;
    position: fixed;
    top: 54px;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--dark);
    opacity: 0.8;
  }
}

// sous-navigation
.nav_subPage {
  color: var(--color-dark-2);
  display: flex;
  justify-content: flex-start;
  column-gap: 10px;
  @include mixin.xs {
    row-gap: 15px;
    flex-wrap: wrap;
  }
  margin: 20px 0;
  a {
    text-decoration: none;
  }
  li {
    padding: 5px 10px;
    border: 1px solid var(--color-dark-1);
    border-radius: 4px;
    min-width: 80px;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;
    &:hover {
      background-color: var(--color-dark-2);
      color: var(--white);
    }
  }
}
